#q-preview {
  width: 1200px;
  .pop-content{
    padding-bottom: 35px;
  }
  img {
    width: auto; //230908 수정
    max-width: 458px;
  }
  .pop-inner {
    width: 1200px;
    .scroll-inner {
      padding-top: 20px;
      .view-data {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        position: relative;
      }
      .example-area {
        width: 453px;
        margin-bottom: 15px;
        padding: 0 55px 0 0;

        &:nth-child(2n) {
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            width: 1px;
            height: 100%;
            background-color: #ccc;
          }
        }
      }
    }
  }

  .numbering {
    font-size: 20px;
    color: black;
    padding-right: 6px;
    &-numbers {
      font-size: 15px;
      font-weight: 500;
    }
  }
  .item-question {
    display: flex;
    // align-items: center; //230908 수정
    margin-bottom: 15px;
  }

  .choice-contanier {
    .answer-input{
      margin-bottom:10px;
      padding-left: 20px;
      li {
        padding-bottom: 10px;
      }
    }
  }

  .answer-tit,
  .explain-tit {
    color: #23a148;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 5px;
    padding-right: 15px;
  }

  .answer-container {
    margin-bottom: 10px;
    display: flex;
    // align-items: center; //230908 수정
    .answer-img{
      width: 25px;
      height: 25px;
      background: lightgray; //230908 수정
      display: inline-block;
    }
  }

  .explain-answer {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
  }
}
