#q-preview {
  // width: 700px; //231031 수정
  width: 1200px; //231031 수정
  .pop-content{
    padding-bottom: 30px;
  }
  img {
    // width: auto; 
    max-width: 453px; //231031 수정
  }
  .pop-inner {
    width: 100%;
    .scroll-inner {
      padding: 20px;
      .view-data {
        @include layout-justify-center;
        padding: 0 20px;
        flex-wrap: wrap;
        position: relative;
        
      }
      .example-area {
        width: 453px; //231031 수정
        margin-bottom: 15px;
        // padding: 0 55px 0 0;

        // &:nth-child(2n) {
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%, 0%);
        //     width: 1px;
        //     height: 100%;
        //     background-color: #ccc;
        //   }
        // }

        img {
          // width: auto;
          max-width: 453px; //231031 수정
        }
      }
    }
  }

  .numbering {
    font-size: 20px;
    color: black;
    padding-right: 15px; //231110 수정
    &-numbers {
      padding-right: 5px; //231110 수정
      @include font(15px, 500); 
    }
  }
  .item-question {
    display: flex;
    // align-items: center; //230908 수정
    margin-bottom: 15px;

    img {
      margin-left: 5px; //231110 수정
    }
  }

  .choice-contanier {
    .answer-input{
      margin-bottom:10px;
      padding-left: 20px;
      li {
        padding-bottom: 10px;
      }
    }
  }

  .answer-tit,
  .explain-tit {
    color: #23a148;
    @include font(15px, 600); //231031 수정
    margin-bottom: 5px;
    padding-right: 11px; //231110 수정
  }

  .answer-container {
    margin-bottom: 10px;
    display: flex;
    // align-items: center; //230908 수정
    .answer-img{
      width: 25px;
      height: 25px;
      background: lightgray; //230908 수정
      display: inline-block;
    }
  }

  .explain-answer {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
  }

  .passage-area { //231110 수정
    img {
      margin-left: 3px; 
    }
  }
}
