#q-preview {
  width: 700px;
  .pop-content{
    padding-bottom: 30px;
  }
  img {
    // width: auto; 
    // max-width: 220px;
  }
  .pop-inner {
    width: 100%;
    .scroll-inner {
      padding: 20px 0;
      .view-data {
        @include layout-justify-center;
        padding: 0 20px;
        flex-wrap: wrap;
        position: relative;
        
      }
      .example-area {
        width: 250px;
        margin-bottom: 15px;
        // padding: 0 55px 0 0;

        // &:nth-child(2n) {
        //   &::after {
        //     content: "";
        //     position: absolute;
        //     top: 0;
        //     left: 50%;
        //     transform: translate(-50%, 0%);
        //     width: 1px;
        //     height: 100%;
        //     background-color: #ccc;
        //   }
        // }

        img {
          width: auto;
          max-width: 220px;
        }
      }
    }
  }

  .numbering {
    color: black;
    padding-right: 6px;
    &-numbers {
      @include font(14px, 500);
    }
  }
  .item-question {
    // display: flex;
    // align-items: center; //230908 수정
    margin-bottom: 15px;
  }

  .choice-contanier {
    .answer-input{
      margin-bottom:10px;
      // padding-left: 20px;
      li {
        padding-bottom: 10px;
      }
    }
  }

  .answer-tit,
  .explain-tit {
    color: #23a148;
    @include font(12px, 600);
    margin-bottom: 5px;
    padding-right: 5px;
  }

  .answer-container {
    margin-bottom: 10px;
    display: flex;
    // align-items: center; //230908 수정
    .answer-img{
      width: 15px;
      height: 15px;
      background: lightgray; //230908 수정
      display: inline-block;
    }
  }

  .explain-answer {
    display: flex;
    align-items: flex-start;
    line-height: 1.5;
  }
}
